/* Non-colour css that can be used across the website */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    /* Layout */
    --sidebar-width: 320px;
    --topbar-height: 88px;
    --profile-height: 140px;

    /* UI */
    --radius: 10px;
}