/* CSS for the landing page 
lp stands for landing page
*/



/* Globals and raw elements */
:root {
    --spacing: 50px;


    --lg-img-height: 500px;
    --md-img-height: 350px;
}

body {
    background-color: var(--main-bg);
    font-family: "Quicksand", sans-serif;
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

/* testing styles */
* {
    border: black 1px dashed;
    background-color: rgba(200,200,200,0.5)
}



/* Useful - could move to website global */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.textbox {
    padding: 20px;
}

.spacing-margin {
    margin: var(--spacing);
}



/* General */
.lp-row {
    margin-bottom: 50px;
}

.lp-row img {
    object-fit: cover;
    height: 500px;
    width: auto;
    margin: var(--spacing);
}

.halves-row {
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--spacing);
}

.thirds-row {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: var(--spacing);
}

@media only screen and (max-width: 600px) {
    .sm-collapse {
        grid-template-columns: auto;
    }
}

.bold-button {
    background-color: var(--c-yellow);
    color: var(--c-offwhite);
}

.button {
    border: solid var(--c-offwhite) 1px;
    color: var(--c-yellow);
}



/* IDs */
#header {
    width: 100vw;
    background-color: var(--c-dark-purple);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header button {
    border-radius: 3px;
    border-style: none;
}

#first-row {
    background-color: var(--c-space-cadet);
    color: var(--c-offwhite);
}

#first-row button {
    background-color: var(--c-yellow);
    color: var(--c-dark-purple)
}

#second-row {
    background-color: var(--c-offwhite);
    color: var(--c-dark-purple)
}

#guide-row {
    background-color: var(--c-english-violet);
    color: var(--c-offwhite);
}

#guide-row img {
    height: var(--md-img-height);
    width: 100%;
    object-fit: cover;
    margin-left: var(--spacing);
}

#bottom-row {
    width: 100vw;
    background-color: var(--c-dark-purple);
    color: var(--)
}
