/* CSS for the landing page 
lp stands for landing page
*/



/* Globals and raw elements */
:root {
    --spacing: 50px;


    --lg-img-height: 500px;
    --md-img-height: 350px;
}

body {
    background-color: var(--main-bg);
    font-family: "Quicksand", sans-serif;
}

img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

/* testing styles */
/* * {
    border: black 1px dashed;
    background-color: rgba(200,200,200,0.5)
} */



/* Useful - could move to website global */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.textbox {
    padding: var(--spacing);
}

.spacing-margin {
    margin: var(--spacing);
}



/* General */
.lp-row {
    margin-bottom: 50px;
}

.lp-row img {
    object-fit: cover;
    height: 500px;
    width: auto;
    margin: var(--spacing);
}

.halves-row {
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--spacing);
}

.thirds-row {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: var(--spacing);
}

@media (max-width: 600px) {
    .sm-collapse {
        grid-template-columns: auto;
    }
}

@media (max-width: 950px) {
    .md-collapse {
        grid-template-columns: auto;
    }
}

body button {
    border-style: none;
    border-radius: 3px;
    color: var(--c-yellow);
    background-color: var(--c-english-violet);
}

button:hover {
    transition: 0.1s box-shadow ease-in-out;
    box-shadow: 0px 0px 5px var(--c-yellow);
}

.bold-button {
    background-color: var(--c-yellow);
    color: var(--c-dark-purple);
}


/* IDs */
#header {
    width: 100vw;
    min-height: 30px;
    background-color: var(--c-dark-purple);
    background-image: linear-gradient(to right, var(--c-english-violet), var(--c-dark-purple), var(--c-dark-purple));
    box-shadow: 5px 0px 0px var(--c-dark-purple);
    z-index: 1;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
}

/* placeholder */
#logo {
    height: 40px;
    width: 40px;
    background-color: var(--c-yellow); 
    border-radius:5px; 
    background-color: var(--c-english-violet);
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 500;
    place-content: center;
    align-content: center;
}

#logo .l1 {
    color: var(--c-yellow)
}

#logo .l2 {
    color: var(--c-dark-purple) 
}

#first-row {
    background-color: var(--c-space-cadet);
    color: var(--c-offwhite);
}

#first-row button {
    background-color: var(--c-yellow);
    color: var(--c-dark-purple)
}

#second-row {
    background-color: var(--c-offwhite);
    color: var(--c-dark-purple)
}

#guide-row {
    background-color: var(--c-english-violet);
    color: var(--c-offwhite);
    padding: var(--spacing);
}

#guide-row img {
    height: var(--lg-img-height);
    width: 25vw;
    object-fit: cover;
    margin: var(--spacing) auto;
}

#bottom-row {
    width: 100vw;
    background-color: var(--c-dark-purple);
    color: var(--);
    min-height: 100px;
}
