#content {
    width: 100%;
    height: 100%;
}

/* * {
    border: rgba(128, 128, 128, 0.404) dashed 1px;
    background-color: rgba(128, 128, 128, 0.425);
} */

#subjects-page {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .flex-col {
        display: flex;
        flex-direction: column;
    }
    
    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .main-column {
        height: 100%;
        position: relative;
    }

    .card {
        display: flex;
        margin-right: 10px;
        background-color: rgb(243, 243, 243);
        border-radius: var(--radius);     
        margin: 10px;  
        padding: 20px;     
        box-shadow: 0px 8px 25px rgb(218, 215, 215);   
        border: none;                                       
    }

    .flex-grow-2 {
        flex-grow: 2;
    }

    .flex-grow-1 {
        flex-grow: 2;
    }

    .height-100 {
        height: 100%;
    }

    .height-fit-content {
        height: fit-content;
    }

    button {
        border-radius: 10px;
        padding: auto;
        height: 35px;
        border: none;
        box-shadow: 0px 0px 2px 1px var(--c-english-violet);
        margin-left: 20%;
    }

    button:hover {
        transition: 0.2s;
        box-shadow: 0px 0px 2px 2px var(--c-space-cadet);
    }

    button i {
        vertical-align: middle;
    }


    /* Responsiveness for mobile */
    @media (max-width: 757px) {
        .md-collapse {
            flex-direction: column !important;
        }

        .md-flex-grow-0 {
            flex-grow: 0;
        }
    }

    .table {
        min-width: 60%;
    }
}